.jacket-details {
  display: flex;
}

.product-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
}

.product-details * {
  margin: 20px;
}

.product:hover {
  box-shadow: none;
}

.cta {
  margin-top: 50px;
}
