@import "imports/links.css";
@import "imports/variables.css";

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), Arial, Helvetica, sans-serif;
  background: var(--light);
}

/* Fonts */
h1,
h2,
h3,
h4,
p {
  color: var(--dark-blue);
  margin: 0px;
}

h1 {
  font-size: 2.5em;
  font-weight: bolder;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: normal;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1em;
  font-weight: normal;
}

/* Header */
header {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  border: var(--boarder);
  font-size: 2em;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  flex: 1;
  display: none;
  position: absolute;
  top: 100px;
  background: var(--light);
  border: var(--border);
  z-index: 1000px;
  right: 0px;
}

nav ul li {
  display: block;
  list-style: none;
  padding: 20px 60px;
}

header label {
  margin-right: 20px;
  color: var(--dark-blue);
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav,
.header-icons {
  display: block;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 20px 0px 0px 20px;
}

/* Icons */
.icons .fa {
  font-size: 2em;
  padding-right: 20px;
  transition: all 0.3s ease;
  color: var(--dark-blue);
}

/* Icons Hover */
.icons .fa:hover {
  font-size: 3.5em;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: ">";
  margin: 0px 5px;
  color: var(--dark-blue);
}

/* Jacket list */
.jacket-list-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /*
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  flex: 1 0 auto;
  */
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--dark-blue);
  border-radius: 1rem;
  min-width: 200px;
}

.product:hover {
  box-shadow: 10px 10px 10px var(--dark-blue);
}

.product i {
  right: 10px;
  top: 10px;
  font-size: 30px;
  text-align: end;
}

.product i.fa {
  color: var(--dark-blue);
}

/* Contact form */
form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

input,
textarea {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: rgb(11, 91, 133);
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 1em;
  margin-top: 2px;
}

/* Footer */
footer {
  background-color: var(--grey);
  margin-top: 60px;
}

.footer-content1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin: 40px 20px;
}

.footer-content1 h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.footer-content1 div {
  display: flex;
  flex-direction: column;
}

.footer-content1 div > * {
  padding: 5px 0px;
}

.footer-content1 i {
  color: var(--dark-blue);
  font-size: 1.5em;
  padding-right: 10px;
  padding-left: 0px;
}

.footer-content2 {
  background-color: var(--dark-blue);
  text-align: center;
  padding: 10px;
}

.footer-content2 p {
  color: var(--light);
}
