/* Links */
a {
  text-decoration: none;
  color: var(--dark-blue);
}

.underline {
  text-decoration: underline solid 4px #f2c75c;
}

.cta,
.cta-contact-form {
  font-family: var(--font), Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2c75c;
  color: var(--dark-blue);
  padding: 10px 30px;
  border: none;
  transition: all 0.3s ease;
}

.cta {
  font-size: 1em;
}

/* Links hover */
a:hover {
  text-decoration: underline solid 4px #f2c75c;
  color: var(--dark-blue);
}

.cta:hover,
.cta-contact-form:hover {
  font-family: var(--font), Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--dark-blue);
  color: var(--light);
  padding: 10px 30px;
  text-decoration: none;
  border: none;
}

.cta:hover {
  font-size: 1em;
}
